@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
  }

@font-face {
font-family: roboto-bold;
src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bolditalic;
    src: url(./fonts/Roboto/Roboto-MediumItalic.ttf);
    }

@font-face {
    font-family: roboto-superbold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    }

@font-face {
    font-family: roboto-thin;
    src: url(./fonts/Roboto/Roboto-Thin.ttf);
    }

* {
    font-family: roboto-light;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/*sizing*/
.menu,.footer{
    flex:1;
    display: flex;
}

.header,.profile,.quote,.signup{
    flex:6;
}


/*style*/
.menu{
    display: flex;
    background-color: #1F2937;
    justify-content:center;
    align-items: center;

}

.menu div{
   flex: 1 1 0;
   width: 0;
}

.menu h1{
    color: #F9FAF8;
    font-size: 24px;
    font-family: roboto-bold;
    padding-left: 170px;
}

.menu-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 284px;
}

.menu-link h2{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 24px;
    font-family: roboto-thin;
    align-items: center;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 90px;
}

.header div{
    display:flex;
    flex-direction: column;
    margin-left: 88px;
    padding-bottom: 32px;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.header div h1{
    font-size: 48px;
    color:#F9FAF8 ;
    font-family: roboto-superbold;
    text-align: left;
}

.header div p{
    font-size: 18px;
    color:#E5E7EB ;
    font-family: roboto-thin;
    text-align: center;
    margin-bottom: 16px;
}

.header-image{
    margin-right: 88px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0;
}

.header img{
    width:500px;
    height: 350px;
}



.profile{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 32px;
}

.profile h1{
    font-size: 36px;
    color: #1F2937;
    font-family: roboto-superbold;
}

.profile-images{
    display: flex;
    flex-direction:row;
}
.profile-images div{
 margin:8px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.profile-images div img{
    border-color: #3882F6;
    border-style: solid;
    border-width: medium;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}
.quote-text{
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-family: roboto-bolditalic;
}
.quote-by{
    text-align: right;
    padding-right: 150px;
    font-size: 28px;
    color: #1F2937;
    font-family: roboto-bolditalic;
}

.signup{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left:200px;
    padding-right:200px;
}

.signup-container{
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white; 
    justify-content: space-around;
    align-items: center;
    padding-left: 48px;
}

.signup-text{
    padding-top: 32px;
    display: flex;                   /* defines flexbox */
    flex-direction: column;          /* top to bottom */
    justify-content: center;
    padding-bottom: 32px;
}

.signup-text h1,p{
    margin: 0;
}

.signup-button{
    background-color: #3882F6;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    padding: 4px;
    margin-right: 48px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    justify-content:center;
    align-items: center;
    color:white;
    padding: 32px;
}

button{
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    color:#E5E7EB ;
    font-family: roboto-bold;
    border-radius: 8px;
    padding: 10px;
}

